* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply-box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.form-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;

}

input,
select,
textarea {
    padding: 6px 10px;
    border: 2px solid #ccc;
    border-bottom: 5px;
    font-size: 15px;
}

input,
textarea,
select:focus {
    outline-color: red;
}

.btn-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: grey;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
}

.textarea-control {
    grid-column: 1/span 2;
}

.textarea-control textarea {
    width: 100%;
}

@media (max-width:460px) {

    .textarea-control {
        grid-column: 1/span 1;
    }
}